

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">



<div class="hijo">
<table border="1">
    <th clospan="4" style="text-align: center;"></th>
    <tr>
        <td> <button class="tamB" (click)="suma()" > + </button></td>    
        <td><button class="tamB" (click)="resta()"> - </button> </td>
        <td><button class="tamB" (click)="multiplica()"> * </button></td>
        <td> <button class="tamB" (click)="divide()"> / </button></td>
</tr>
</table>
</div>