
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<div style="text-align: center">

<h2>Servicios de Router: ejemplos de uso</h2>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/libros" routerLinkActive="active-link" > Libros</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="/autores" routerLinkActive="active-link"> Autores</a>
       
    </li>


</ul>
<router-outlet></router-outlet>

</div>
